.userCardContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.userCardWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	cursor: pointer;
	padding: 20px;
	background-color: #fff;
}

.userCardWrapper.active {
	border: 1px solid green;
}

.userCardWrapper.unactive {
	border: 1px solid orange;
}

.userCardFullName {
	font-size: 25px;
	margin-bottom: 20px;
}

.userCardText {
	font-size: 17px;
}
